@using Rent.Data
@model List<Person>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Renters</title>
</head>
<body>
    <h1>People / renters</h1>
    <a href="/Home/Index">Home</a>
    <br />
    <a href="/Home/NewPerson">Add renter</a>
    <br />
    <br />
    @foreach (var item in Model)
    {
        <p>@item.AllData</p>
        <a href="/Home/ModifyPerson?id=@item.Id">Modify</a>
    }
</body>
</html>