@using Rent.Logic
@model RentLogic

<h1>Non CRUD methods</h1>
<a class="btn btn-outline-primary" href="/Home/Index">Home</a>

<p>@Model.MostFine()</p><br />
<p>@Model.MostRentedGame()</p><br />
<p>@Model.MostRentsByPerson()</p><br />