@using Rent.Data

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/Home/GetRentals">Rentals</a>
    <br />
    <a href="/Home/GetPeople">Renters</a>
    <br />
    <a href="/Home/GetGames">Games</a>
</body>
</html>