@using Rent.Data


    <h1>Home</h1>
    <a class="btn btn-outline-primary" href="/Home/GetRentals">Rentals</a>
    <a class="btn btn-outline-primary" href="/Home/GetPeople">Renters</a>
    <a class="btn btn-outline-primary" href="/Home/GetGames">Games</a>