@using Rent.Data
@model Person


    <h1>Modify</h1>
    <a class="btn btn-outline-primary" href="/Home/Index">Home</a>
    <br />
    <form action="/Home/ModifyPerson" method="post">
        <br />
        <div class="form-floating mb-3">
            <input class="form-control" type="text" name="Name" value="@Model.Name" />
            <label for="floatingInput">Name</label>
        </div>
        Birth date: <br />
        <input type="datetime" name="BirthDate" value="@Model.BirthDate"/><br /><br />
        <input type="hidden" name="Id" value="@Model.Id" />
        <input class="btn btn-outline-primary" type="submit" value="Save Changes" />
    </form>