@using Rent.Data
@model Person

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modify a person</title>
</head>
<body>
    <h1>Modify</h1>
    <a href="/Home/Index">Home</a>
    <br />
    <form action="/Home/ModifyPerson" method="post">
        <br />
        Name: <br />
        <input type="text" name="Name" value="@Model.Name"/><br />
        Birth date: <br />
        <input type="datetime" name="BirthDate" value="@Model.BirthDate"/><br />
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="submit" value="Save Changes" />
    </form>
</body>
</html>