@using Rent.Data
@model Rental

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modify a rental</title>
</head>
<body>
    <h1>Modify</h1>
    <a href="/Home/Index">Home</a>
    <br />
    <p>@Model.AllData</p>
</body>
</html>