@using Rent.Data

    <h1>New Person</h1>
    <a class="btn btn-outline-primary" href="/Home/Index">Home</a>
    <br />
    <form action="/Home/NewPerson" method="post">
        <br />
        <div class="form-floating mb-3">
            <input class="form-control" type="text" name="Name" />
            <label for="floatingInput">Name</label>
        </div>
        Birth date: <br />
        <input type="datetime" name="BirthDate" /><br /><br />
        <input class="btn btn-outline-primary" type="submit" value="Create" />
    </form>