@using Rent.Data

    <h1>New Person</h1>
    <a href="/Home/Index">Home</a>
    <br />
    <form action="/Home/NewPerson" method="post">
        <br />
        Name: <br />
        <input type="text" name="Name" /><br />
        Birth date: <br />
        <input type="datetime" name="BirthDate" /><br />
        <input type="submit" value="Create" />
    </form>