@using Rent.Data

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New person</title>
</head>
<body>
    <h1>New Person</h1>
    <a href="/Home/Index">Home</a>
    <br />
    <form action="/Home/NewPerson" method="post">
        <br />
        Name: <br />
        <input type="text" name="Name" /><br />
        Birth date: <br />
        <input type="datetime" name="BirthDate" /><br />
        <input type="submit" value="Create" />
    </form>
</body>
</html>