@using Rent.Data
@model Rent.WebApp.Controllers.DataHelper

    <h1>New Rental</h1>
    <a class="btn btn-outline-primary" href="/Home/Index">Home</a>
    <br />
    <form action="/Home/NewRental" method="post">
        <br />
        <select class="form-select" id="PersonRef" name="PersonRef">
            @foreach (var item in Model.p)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select><br />
        <br />
        <select class="form-select" id="GameRef" name="GameRef">
            @foreach (var item in Model.g)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select> <br />
        Rent date: <br />
        <input type="datetime" name="RentDate" /><br />
        Return date: <br />
        <input type="datetime" name="ReturnDate" /><br /><br />
        <input class="btn btn-outline-primary" type="submit" value="Create" />
    </form>